.specialty-img img {
    width: 70% !important;
    height: auto !important;
}


@media (max-width: 1024px) {
    .specialty-img img {
        width: 60% !important;
        margin: 0 auto !important;
    }

    .specialty-text {
        font-size: 14px !important;
        color: red !important;
    }

}

@media (max-width: 768px) {
    .specialty-img img {
        width: 80% !important;
        margin: 0 auto !important;
    }

    .specialty-text {
        font-size: 10px !important;
    }

}